html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    background-image: url(fundo.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    display: flex;
    justify-content: center;
    gap: 40px;
}

h1 {
    font-size: 1.4rem;
}

.section {
    margin-top: 10vh;
    height: 50vh;
    width: 15vw;
    padding: 60px;
    border: 2px solid white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    backdrop-filter: blur(50px);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: white;
}

button {
    padding: 4px;
    width: 8vw;
    border-radius: 10px;
}
